
  <div class="container-fluid ">
    <footer class="row row-cols-0 row-cols-sm-2 row-cols-md-4 py-5 my-5 border-top">
      <div class="col mt-4">
        <a href="/" class="d-inline-flex text-bold text-black fs-1 font-monospace text-decoration-none ">
          SLfashion
        </a>
        <div class="col-md-auto">
          <a href="facebook.com"><i class="bi bi-facebook fs-1 m-2 text-black"></i></a>
          <a href="instagram.com"><i class="bi bi-instagram fs-1 m-3 text-black"></i></a>
          <a href="youtube.com"><i class="bi bi-youtube fs-1 m-2 text-black"></i></a>
        </div>
      </div>
  
      <div class="col mt-4 text-center text-black">
        <h4 class="text-bold">Về chúng tôi</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Giới thiệu về chúng tôi</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Điều khoản sử dụng</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách chất lượng</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Bảo mật thông tin</a></li>
        </ul>
      </div>
      <div class="col mt-4 text-center">
        <h4>Liên hệ nhanh</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i
                class="bi bi-geo-alt-fill"></i> địa chỉ</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i
                class="bi bi-telephone-fill"></i> sdt </a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i
                class="bi bi-envelope-fill"></i> xxilu@gmail.com</a></li>
        </ul>
      </div>
  
      <div class="col mt-4 text-center">
        <h4>Chính sách</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Hướng dẫn mua hàng</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách đổi trả</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách bảo hành</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách thanh toán</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách vận chuyển</a></li>
        </ul>
      </div>
      <div class="col mt-4 text-center"></div>
    </footer>
  </div>