<h2>Danh sách đơn hàng</h2>
<input type="date" [(ngModel)]="startDate">
<input type="date" [(ngModel)]="endDate">
<button (click)="getOrdersByDateRange()">Lấy danh sách đơn hàng</button>

<!-- <div *ngIf="orders">
  <h2>Danh sách đơn hàng trong khoảng thời gian đã chọn:</h2>
  <ul>
    <li *ngFor="let order of orders">
    </li>
  </ul>
</div> -->

<div >
    <div>
        <div>
            <div class="row" style="font-weight: bold;">
                <div class="col-lg-2">Mã đơn hàng</div>
                <div class="col-lg-3">Mã khách hàng</div>
                <div class="col-lg-1">Địa chỉ</div>
                <div class="col-lg-1">Trạng thái đơn hàng</div>

               
            </div>
            <hr>
        </div>
        <div class="product-list-items">
            <!-- item-product -->
            <div *ngFor="let item of orders">
                <div class="row" style="align-items: center;" >
                    <div class="col-lg-2">{{item.orderId}}</div>
                    <div class="col-lg-3">{{item.userId}}</div>
                    <div class="col-lg-1">{{item.orderAddress}}</div>
                    <div class="col-lg-1">{{item.orderStatus}}</div>
                    <!-- <div class="col-lg-2">{{item | currency:'VND':'' }} đ</div> -->
                    <div class="col-lg-2">
                        <button class="btn btn-info m-2"><a class="text-decoration-none text-white" [routerLink]="['/orders-detail', item.orderId]"><i class="bi bi-gear-wide-connected"></i> Xem chi tiết đơn hàng</a></button>
                        <!-- <button class="btn btn-danger"><a class="text-decoration-none text-white" [routerLink]="['/products-delete']"><i class="bi bi-trash-fill"> Xóa</i></a></button> -->
                    </div>
                </div>
                <hr>
            </div>
            <!-- item-product -->





        </div>
    </div>
</div>
