<div class="container" style="padding-top: 9%;">


  <!-- breadcumbs -->
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="#">quần</a></li>

    </ol>

  </nav>
  <select [(ngModel)]="selectedItem">
    <option *ngFor="let item of categoryList" [value]="item.categoryId">{{ item.categoryName }}</option>
  </select>
  

  <!-- dropdown -->
  <!-- <select ngModel="selectedOption">
      <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
    </select>
    <p>Selected Option: {{ selectedOption }}</p> -->

  <!-- <select ngModel="selectedOption" (change)="onSortOptionChange()">
      <option value="default">Mặc định</option>
      <option value="lowToHigh">Sắp xếp giá từ thấp đến cao</option>
    </select> -->




  <!-- xài -->
  <!-- <select [(ngModel)]="selectedSortOption"  (change)="onSortOptionChange()">
    <option value="default">Mặc định</option>
    <option value="lowToHigh">Sắp xếp giá từ thấp đến cao</option>
    <option value="HighToLow">Sắp xếp giá từ cao đến thấp</option>
  </select>
   -->


  <p></p>
  
  <app-product-card></app-product-card>

</div>