<div class="container" >
    <div class="categ-list" *ngFor="let prod of products">
        <a class="card" [routerLink]="['/product-detail', prod.productId]" style="width: 18rem;" >
            <img class="card-img-top" src="assets/h1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ prod.productName }}</h5>
                <p class="card-text">{{ prod.initialPrice }} </p>
                <p class="card-text">{{ prod.officialPrice }}</p>
            </div>
        </a>
    </div>
</div>




<style>
    .container {
        display: flex;
    }
</style>